* {
    font-family: "Product Sans";
  }
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7rem;
    overflow: hidden;
    transition: all 0.5s linear;
    background: #01608d;
}

.logo{
    height: 100px;
    padding: 20px;
    margin-top: 10px;
    background-image: url("../assets/dsulogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active{
    background: #0a4e6d;
}

.menu a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu a li{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.main-content{
    position:relative;
    background: rgb(231, 225, 225);
    width: 100%;
    padding: 1rem;
}

.header-wrapper img{
    width: 50%;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #01608d;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header-title{
    color: white;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box{
    background: rgb(221, 221, 221);
    border-radius: 15px;
    color: #01608d;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}

.search-box input{
    background: transparent;
    padding: 10px;
}

.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover{
    transform: scale(1.2);
}

.card-container{
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: #01608d;
    padding: 24px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card-container img{
    margin-right: 20px;
}

.card-container h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-bottom: 20px;
}

.desc{
    color: rgb(0, 0, 0);
    font-size: larger;
}