body{
    padding:50px;
}
.container{
    margin-top: 100px;
    max-width: 600px;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 100px;
}
.form-group{
    margin-bottom:30px;
}

.verify{
    margin-top: 10px;
}

.form-container{
    margin-top: 10px;
}